<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= javascript_include_tag "https://www.google.com/jsapi" %>
    <%= javascript_include_tag "chartkick" %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">ApexGamer</li>

          <li>
            <a href="#">Categories</a>
            <ul class="menu vertical">
              <li><%= link_to "Games", games_path %></li>
              <li><%= link_to "Companies", companies_path %></li>
              <li><%= link_to "Platforms", platforms_path %></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <li>
            <% if current_user %>
            <a href="#"><%= current_user.username %></a>
            <ul class="menu vertical">
              <li><%= link_to "Logout", github_logout_path %></li>
            </ul>
            <% else %>
              <%= link_to "Login with Github", github_login_path %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <div class="flash-messages">
      <%= render 'layouts/flash' %>
    </div>

    <%= yield %>

  </body>
</html>
